<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Google Search</title>
    <link rel="icon" href="/img/google.ico" type="image/ico" sizes="32x32">
		<link rel="stylesheet" href="/css/style-search.css">
		<link rel="stylesheet" href="/css/style-result.css">
    <!-- Import CSS -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
