<div class= "centered">
	<div class="logo">
		<img id="logo" src="img/google.png" alt="google">
		<link rel="stylesheet" href="/css/style-search.css">

	</div>
	<div class="search">
		<form action="/results" method="POST">
			<input type="text" name="search"/>
			<p></p>
			<button>Search</button>
		</form>
	</div>
</div>
